@charset "utf-8";
.event .inner{
  position: relative;
}
.event-title {
  font-size: 4.5rem;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  font-family: "Nanum Brush Script", cursive;
  font-weight: bold;
}
.event-top {
  width: calc(100% / 2 - 100px);
  height: 100%;
  display: flex;
  gap: 30px;
  margin: auto;
  justify-content: center
}
.event-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.evetn-bottom {
  width: 85%;
  height: 374px;
  display: flex;
  margin:40px auto;
  gap: 30px;
  text-align: center;
  font-size: 70px;
}
.evetn-bottom p {
  top: 50%;
  left: 50%;
}
.event-sns {
  background-color: rgb(255, 154, 154);
  width: 85%;
  display: grid;
  place-items: center;
  font-family: "Nanum Brush Script", cursive;
}

.event-sale {
  background-color: rgb(255, 154, 154);
  width: 85%;
  display: grid;
  place-items: center;
  font-family: "Nanum Brush Script", cursive;
}
.plus-show{
  display: flex;
  justify-content: center;
  background-color: black;
  width: 200px;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  margin: 130px auto;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.plus-show .plus-show-img{
  width: 30px;
  height: 30px;
}
.plus-show > p {
  font-size: 25px;
  margin-left: 10px;
  color: white;
  font-family: "Nanum Brush Script", cursive;
  padding-top: 3px;
}
.event .line {
  width: 450px;
  height: 2px;
  background-color: gray;
  text-align: center;
  margin: 50px auto;
}


