@charset "utf-8";
.event {
  width: 100%;
  margin: auto;
}
.event .inner {
  position: relative;
}
.event-title {
  font-size: 4.8rem !important;
  text-align: center;
  margin-top: 140px !important;
  margin-bottom: 140px !important;
  font-family: "Nanum Brush Script", cursive;
  font-weight: bold;
}
.event-top {
  width: calc(100% / 2);
  padding: 0 10px;
  display: flex;
  gap: 15px;
  margin: auto;
  justify-content: center;
  
}
.event-top img {
  width:100%;
  cursor: pointer;
}
.evetn-bottom {
  width: calc(100% / 2);
  padding: 0 10px;
  display: flex;
  gap: 15px;
  margin: 20px auto;
  justify-content: center;
}
.evetn-bottom img {
  width: 100%;
  cursor: pointer;
}
.evetn-bottom p {
  top: 50%;
  left: 50%;
}
.plus-show {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 250px;
  border-radius: 50px;
  padding: 15px;
  text-align: center;
  margin: 100px auto;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.plus-show .plus-show-img {
  width: 30px;
  height: 30px;
}
.plus-show > p {
  font-size: 35px;
  margin-left: 10px;
  color: white;
  font-family: "Nanum Brush Script", cursive;
}
.event .line {
  max-width: 500px;
  height: 2px;
  background-color: gray;
  text-align: center;
  margin: 50px auto;
}
.fa-solid, .fas{
  color: black !important;
  cursor: pointer;
}

/* 반응형 */

@media screen and (max-width: 990px) {
  .event-title {
    font-size: 3.8rem;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .event-top {
    width: calc(100% / 2);
    height: 100%;
    padding: 0 10px;
    display: flex;
    gap: 15px;
    margin: auto;
    justify-content: center;
  }
  .event .line {
    max-width: 400px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 50px auto;
  }
  .plus-show {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 250px;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    margin: 90px auto;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  .event .line {
    max-width: 500px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 50px auto;
  }
  
}
@media screen and (max-width: 768px) {
  .event-title {
    font-size: 3.8rem;
    text-align: center;
    margin-top: 70px !important;
    margin-bottom: 70px !important;
  }
  .event-top {
    width: calc(100% / 2);
    height: 100%;
    padding: 0 10px;
    display: flex;
    gap: 15px;
    margin: auto;
    justify-content: center;
  }
  .event .line {
    max-width: 300px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 50px auto;
  }
  .plus-show {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 220px;
    border-radius: 50px;
    padding: 7px;
    text-align: center;
    margin: 70px auto;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  .event .line {
    max-width: 500px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 30px auto;
  }
}
@media screen and (max-width: 560px) {
  .event-title {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  .event-top {
    width: calc(100% / 2);
    height: 100%;
    padding: 0 10px;
    display: flex;
    gap: 15px;
    margin: auto;
    justify-content: center;
  }
  .event .line {
    max-width: 250px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 50px auto;
  }
  .plus-show {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 200px;
    border-radius: 50px;
    padding: 7px;
    text-align: center;
    margin: 50px auto;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  .event .line {
    max-width: 250px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 50px auto;
  }
}
@media screen and (max-width: 480px) {
  .event-title {
    font-size: 3.5rem !important;
    text-align: center;
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
  .event-top {
    width: 80%;
    height: 80%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
    justify-content: center;
  }
  .evetn-bottom {
    width: 80%;
    height: 80%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px auto;
    justify-content: center;
}
  .plus-show {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 200px;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    margin: 50px auto;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  .event .line {
    max-width: 220px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 70px auto;
  }
}
@media screen and (max-width: 320px) {
  .event-title {
    font-size: 30px !important;
    text-align: center;
    margin-top: 55px !important;
    margin-bottom: 55px !important;
  }
  .event-top {
    width: 90%;
    height: 90%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .evetn-bottom {
    width: 90%;
    height: 90%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
    flex-direction: column;
  }
  .plus-show {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 130px;
    border-radius: 50px;
    padding: 7px;
    text-align: center;
    margin: auto;
    margin-top: 40px !important;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  .plus-show .plus-show-img {
    width: 20px;
    height: 20px;
  }
  .plus-show > p {
    font-size: 20px;
    margin-left: 10px;
    color: white;
    font-family: "Nanum Brush Script", cursive;
  }
  .event .line {
    max-width: 200px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin:60px auto;
  }
  #youtubeModal iframe{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
}
/* 모달 창 스타일 */
.modal-youtube {
  display: none; /* 처음엔 숨김 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal-youtube iframe{
  position: relative;
}
/* 모달을 덮는 배경 */
.modal-overlay {
  display: none; /* 처음엔 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 900;
}

/* 닫기 버튼 스타일 */
.close {
  position: absolute;
  top: 14;
  right: -40px;
  font-size: 30px;
  cursor: pointer;
  color: red;
  z-index: 99999999;
}
.close:hover{
  color: white;
}
.html5-video-player:not(.ytp-transparent), .html5-video-player.unstarted-mode, .html5-video-player.ad-showing, .html5-video-player.ended-mode{
  position: relative;
}
