@charset "utf-8";
.family-course {
  width: 80%;
  margin: auto;
}
.family-course .inner {
  position: relative;
  display: block;
}
.family-title {
  font-size: 4.8rem;
  line-height: 60px;
  font-family: "Nanum Brush Script", cursive;
  text-align: center;
  margin-bottom: 30px;
}
.family-title h2 {
  font-weight: bold;
  margin-bottom: 90px;
}
.good {
  width: 100%;
  height: 100%;
  text-align: center;
}
.good img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
.family-course .swiper-button-nextt {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  top: 50%;
  right: -20px;
  font-weight: bold;
  font-size: 30px;
  z-index: 99;
}
.family-course .swiper-button-prevt {
  position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    top: 50%;
    left: 0;
    font-size: 30px;
    z-index: 99;
}

.good-info-list li b {
  font-size: 1.8rem;
}
.good-info-list li p {
  font-size: 20px;
}
.good-info {
  line-height: 40px;
}
.family-course .line {
  max-width: 500px;
  height: 2px;
  background-color: gray;
  text-align: center;
  margin: 100px auto;
}

/* 반응형 */

@media screen and (max-width: 767px) {
  .family-title {
    font-size: 3.7rem;
    line-height: 60px;
    font-family: "Nanum Brush Script", cursive;
    text-align: center;
    margin-bottom: 20px !important;
    font-weight: bold;
  }
  
  .good {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .family-course .good img {
    width: 100%;
    height: 320px !important;
    mix-blend-mode: multiply;
  }
  .family-course .swiper-button-nextt {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 50%;
    right: -16px;
    font-weight: bold;
    font-size: 30px;
    z-index: 99;
  }
  .family-course .swiper-button-prevt {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 50%;
    left: -16px;
    font-size: 30px;
    z-index: 99;
  }
  .family-course .swiper-button-prevt > i {
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .family-course .swiper-button-nextt > i {
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .good-info-list li b {
    font-size: 1.6rem;
  }
  .good-info-list li p {
    font-size: 16px;
  }
  .good-info {
    line-height: 40px;
  }
  .family-course .line {
    max-width: 300px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 100px auto;
  }
}
@media screen and (max-width: 500px) {
  .family-title {
    font-size: 2.7rem;
    line-height: 40px;
    font-family: "Nanum Brush Script", cursive;
    text-align: center;
    margin-bottom: 10px !important;
    font-weight: bold;
  }
  .good {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .family-title h2 {
    font-weight: bold;
    margin-bottom: 50px;
  }
  .family-course .good img {
    width: 100%;
    height: 250px !important;
    mix-blend-mode: multiply;
  }
  .family-course .swiper-button-nextt {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 42%;
    right:-16px;
    font-weight: bold;
    font-size: 30px;
    z-index: 99;
  }
  .family-course .swiper-button-prevt {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 42%;
    left: -16px;
    font-size: 30px;
    z-index: 99;
  }
  .family-course .swiper-button-prevt > i{
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
  .family-course .swiper-button-nextt > i{
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
  .good-info-list li b {
    font-size: 1.4rem;
  }
  .good-info-list li p {
    font-size: 15px;
  }
  .good-info {
    line-height: 40px;
  }
  .family-course .line {
    max-width: 300px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 50px auto;
  }
}
@media screen and (max-width: 386px) {
  .family-title {
    font-size: 2.7rem;
    line-height: 40px;
    font-family: "Nanum Brush Script", cursive;
    text-align: center;
    margin-bottom: 10px !important;
    font-weight: bold;
  }
  .good {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .family-title h2 {
    font-weight: bold;
    margin-bottom: 50px;
  }
  .family-course .good img {
    width: 100%;
    height: 250px !important;
    mix-blend-mode: multiply;
  }
  .family-course .swiper-button-nextt {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 42%;
    right:-16px;
    font-weight: bold;
    font-size: 30px;
    z-index: 99;
  }
  .family-course .swiper-button-prevt {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 42%;
    left: -16px;
    font-size: 30px;
    z-index: 99;
  }
  .family-course .swiper-button-prevt > i{
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
  .family-course .swiper-button-nextt > i{
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
  .good-info-list li b {
    font-size: 1.1rem;
  }
  .good-info-list li p {
    font-size: 12px;
  }
  .good-info {
    line-height: 40px;
  }
  .family-course .line {
    max-width: 220px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 90px auto;
  }
}
@media screen and (max-width: 350px) {
  .family-title {
    font-size: 2.7rem;
    line-height: 40px;
    font-family: "Nanum Brush Script", cursive;
    text-align: center;
    margin-bottom: 10px !important;
    font-weight: bold;
  }
  .good {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .family-title h2 {
    font-weight: bold;
    margin-bottom: 50px;
  }
  .family-course .good img {
    width: 100%;
    height: 250px !important;
    mix-blend-mode: multiply;
  }
  .family-course .swiper-button-nextt {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 42%;
    right:-16px;
    font-weight: bold;
    font-size: 30px;
    z-index: 99;
  }
  .family-course .swiper-button-prevt {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 42%;
    left: -16px;
    font-size: 30px;
    z-index: 99;
  }
  .family-course .swiper-button-prevt > i{
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
  .family-course .swiper-button-nextt > i{
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
  .good-info-list li b {
    font-size: 1.4rem;
  }
  .good-info-list li p {
    font-size: 15px;
  }
  .good-info {
    line-height: 40px;
  }
  .family-course .line {
    max-width: 300px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 50px auto;
  }
}
@media screen and (max-width: 320px) {
  .family-title {
    font-size: 2.2rem;
    line-height: 40px;
    font-family: "Nanum Brush Script", cursive;
    text-align: center;
    margin-bottom: 20px !important;
    font-weight: bold;
  }
  .family-title h2 {
    font-weight: bold;
    margin-bottom: 40px;
  }
  .good {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .family-course .good img {
    width: 250px;
    height: 250px !important;
    mix-blend-mode: multiply;
  }
  .family-course .swiper-button-nextt {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 50%;
    right: -16px;
    font-weight: bold;
    font-size: 30px;
    z-index: 99;
  }
  .family-course .swiper-button-prevt {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 50%;
    left: 0;
    font-size: 30px;
    z-index: 99;
  }

  .good-info-list li b {
    font-size: 1.4rem;
  }
  .good-info-list li p {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .good-info {
    line-height: 40px;
  }
  .family-course .line {
    max-width: 300px;

    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 100px auto;
  }
  .family-course .swiper-button-prevt > i{
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
  .family-course .swiper-button-nextt > i{
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
  .family-course .plus-show{
    display: flex;
        justify-content: center;
        background-color: black;
        width: 150px;
        border-radius: 50px;
        padding: 10px;
        text-align: center;
        margin: auto;
        margin-top: -9px !important;
        bottom: 0;
        left: 0;
        cursor: pointer;
  }
  .family-course .line{
    max-width: 200px;
        height: 2px;
        background-color: gray;
        text-align: center;
        margin: 65px auto;
        
  }
}
