@charset "utf-8";

.family-title {
  font-size: 70px;
  line-height: 100px;
  font-family: "Nanum Brush Script", cursive;
  text-align: center;
  margin-bottom: 20px;

}
.family-title h2 {
  font-weight: bold;
}
.good {
  width: 100%;
  height: 100%;
  text-align: center;
}
.good img {
  width: 100%;
  height: 400px;
  mix-blend-mode: multiply;
}
.family-course .inner {
  position: relative;
  display: block;
}
.family-course .swiper-button-next {
    position: absolute;
    margin-top: -70px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.family-course .swiper-button-prev {
  position: absolute;
  margin-top: -70px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.family-course .swiper-button-prev::after{
  font-size: 30px;
}
.family-course .swiper-button-next::after{
  font-size: 30px;
}
.good-info-list li b{
    font-size: 40px;
}
.good-info-list li p{
    font-size: 20px;
} 
.good-info{
    line-height: 40px;
}
.family-course .line {
  width: 450px;
  height: 2px;
  background-color: gray;
  text-align: center;
  margin: 100px auto;
}
