@charset "utf-8";

.fixed-category {
  position: fixed;
  bottom: 10%;
  right: 5%;

  z-index: 99999;
}

.go-top,
.center {
  width: 100px;
  height: 100px;
}

.go-top {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  margin-bottom: 10%;
}
.go-top img,
.center img {
  width: 100%;
}
.center {
  position: relative;
}
.question {
  font-weight: bold;
  color: #fff;
  border-radius: 30px;
  padding: 10% 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 200%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  opacity: 0;
  transition: all 0.3s;
}

.center:hover .question {
  opacity: 1;
}
@media screen and (max-width: 900px) {
  .go-top,
  .center {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 600px) {
  .go-top,
  .center {
    width: 50px;
    height: 50px;
  }
}
