@charset "utf-8";
@import url("footer.css");
@import url("header.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* font-family: "Nanum Brush Script", cursive; */
}
.wrap {
  width: 100%;
}
.inner {
  max-width: 1200px;
  margin: auto;
}
/* 메인이미지 */
.main-img {
  width: 100%;
  margin: auto;
  position: relative;
}
.main-img img {
  width: 100%;
}
.main-img h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* 버튼 3개 */
.btn {
  display: flex;
  margin-top: 100px;
}
.btn .inner > button {
  font-family: "Nanum Brush Script", cursive;
  font-weight: 600;
  float: left;
  font-size: 55px;
  color: white;
  background-color: black;
  padding: 5px 90px;
  margin: 70px;
  border-radius: 10px;
  cursor: pointer;
}
.btn .inner > button:hover {
  background-color: #686868;
  transition: background-color 0.3s;
}

/* 맛집 소개 영역 */
/* 밥집-------------------------------------------------------------- */
.intro-food {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.inner .restaurant {
  width: 100%;
  margin-top: 80px;
  /* background-color: blanchedalmond; */
}
.restaurant {
  display: flex;
  gap: 6%;
  margin-bottom: 80px;
}
.intro-food-restaurant {
  display: none;
}
.shop {
  cursor: pointer;
  width: calc(100% / 3);
}
.shop:hover h3,
.cafe > :hover h3,
.alcohol > :hover h3 {
  color: #f39c12;
  text-decoration: underline;
}
.shop img {
  width: 100%;
  border-radius: 10px;
  /* margin: 30px; */
  margin-bottom: 15px;
}
.shop h3,
li {
  text-align: left;
}
.shop h3 {
  font-size: 38px;
  margin-bottom: 8px;
}
.shop li {
  font-size: 27px;
}
/* 카페-------------------------------------- */
.cafe {
  display: flex;
  gap: 6%;
  margin-bottom: 80px;
  /* background-color: antiquewhite; */
}
.inner .cafe {
  width: 100%;
  margin-top: 80px;
  /* background-color: blanchedalmond; */
}
.intro-food-cafe {
  display: none;
}
.cafe-shop {
  cursor: pointer;
  width: calc(100% / 3);
}
.cafe-shop img {
  width: 100%;
  border-radius: 10px;
  /* margin: 30px; */
  margin-bottom: 15px;
}
.cafe-shop h3,
li {
  text-align: left;
}
.cafe-shop h3 {
  font-size: 38px;
  margin-bottom: 8px;
}
.cafe-shop li {
  font-size: 25px;
}
/* 주류--------------------------------------------- */
.alcohol {
  display: flex;
  gap: 6%;
  margin-bottom: 80px;
  /* background-color: antiquewhite; */
}
.inner .alcohol {
  width: 100%;
  margin-top: 80px;
  /* background-color: blanchedalmond; */
}
.intro-food-alcohol {
  /* display: none; */
}
.alcohol-shop {
  cursor: pointer;
  width: calc(100% / 3);
}
.alcohol-shop img {
  width: 100%;
  border-radius: 10px;
  /* margin: 30px; */
  margin-bottom: 15px;
}
.alcohol-shop h3,
li {
  text-align: left;
}
.alcohol-shop h3 {
  font-size: 38px;
  margin-bottom: 8px;
}
.alcohol-shop li {
  font-size: 25px;
}
/* 후기 스와이퍼 */
/* 버튼 디자인 */
.sw-btn {
  text-align: center;
  margin: 20px 0;
}

.btn > button {
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Swiper 디자인 */
.intro-food-review h2 {
  font-family: "Nanum Brush Script", cursive;
  font-size: 90px;
  font-weight: 600;
  margin: 30px;
  margin-top: 150px;
  margin-bottom: 60px;
}
.intro-food-review {
  max-width: 1200px;
  margin: 50px auto;
}

.swiper-container {
  max-width: 1200px;
  width: 100%;  /* 컨테이너의 너비를 100%로 설정 */
  overflow: hidden;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffeaa7;
  padding: 10px;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  padding: 20px;
  box-sizing: border-box;
  max-width: 100%;
  white-space: normal;
}

.review {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.review h3 {
  margin: 30px;
  /* float: left; */
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 10px;
  color: #2d3436;
}

.star-rating {
  margin: 20px;
  font-size: 70px;
  color: #f39c12;
  margin-bottom: 15px;
}

.review p {
  margin: 30px;
  font-size: 40px;
  color: #636e72;
  word-wrap: break-word;
  line-height: 1.6;
}
/* 더보기 버튼 스타일 */
.more-btn {
  display: block;
  margin: 20px auto 40px auto;
  padding: 10px 40px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s;
  margin-top: 120px;
}

.more-btn:hover {
  background-color: #686868;
}

/* 숨겨진 항목 스타일 */
.more-restaurant,
.more-cafe,
.more-alcohol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 6%;
  align-items: flex-start;
  /* 슬라이드 애니메이션 효과 적용 */
}
.more-restaurant.show,
.more-cafe.show,
.more-alcohol.show {
  display: flex !important;

  opacity: 1;
  z-index: 999;
}
.more-restaurant img,
.more-cafe img,
.more-alcohol img {
  width: 100%;
  height: 223px;
  object-fit: cover; /* 이미지를 부모 요소에 맞추기 */
  border-radius: 10px; /* 모서리 둥글게 */
}

@media (max-width: 990px) {
  .shop,
  .cafe-shop,
  .alcohol-shop,
  .more-restaurant ul,
  .more-cafe ul,
  .more-alcohol ul {
    width: 48%;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .shop,
  .cafe-shop,
  .alcohol-shop,
  .more-restaurant ul,
  .more-cafe ul,
  .more-alcohol ul {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .shop img,
  .cafe-shop img,
  .alcohol-shop img {
    height: auto;
    margin-bottom: 10px;
  }

  .shop h3,
  .cafe-shop h3,
  .alcohol-shop h3 {
    font-size: 20px;
  }

  .shop li,
  .cafe-shop li,
  .alcohol-shop li {
    font-size: 16px;
  }
}

/* 반응형 디자인 적용 */
@media (max-width: 990px) {
  .shop,
  .cafe-shop,
  .alcohol-shop,
  .more-restaurant ul,
  .more-cafe ul,
  .more-alcohol ul {
    width: 48%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .shop,
  .cafe-shop,
  .alcohol-shop,
  .more-restaurant ul,
  .more-cafe ul,
  .more-alcohol ul {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* 반응형 */
/* 990px 이하 */
@media (max-width: 990px) {
  .main-img h2 {
    font-size: 100px;
  }

  .btn .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .btn .inner > button {
    font-size: 40px;
    padding: 5px 70px;
    margin: 20px 15px;
  }

  .shop,
  .cafe-shop,
  .alcohol-shop {
    width: 48%;
    margin-bottom: 30px;
  }

  .shop h3,
  .cafe-shop h3,
  .alcohol-shop h3 {
    font-size: 30px;
  }

  .shop li,
  .cafe-shop li,
  .alcohol-shop li {
    font-size: 20px;
  }

  .intro-food-review h2 {
    font-size: 60px;
  }
  .swiper-container {
    height: 600px;
  }
  .review h3 {
    font-size: 50px;
  }

  .star-rating {
    font-size: 50px;
  }

  .review p {
    font-size: 30px;
  }
  .more-restaurant img,
  .more-cafe img,
  .more-alcohol img {
    height: 183px; /* 조정된 높이 */
  }
}

/* 768px 이하 */
@media (max-width: 768px) {
  .main-img h2 {
    font-size: 80px;
  }
  .btn {
    margin-top: 50px;
  }
  .btn .inner {
    margin: 60px;
  }
  .intro-food-restaurant > .restaurant,
  .intro-food-cafe > .cafe,
  .intro-food-alcohol > .alcohol {
    margin: 50px 0;
  }
  .btn .inner > button {
    font-size: 35px;
    padding: 5px 50px;
    margin: 10px 15px;
  }
  .shop,
  .cafe-shop,
  .alcohol-shop {
    width: 100%;
    margin-bottom: 15px;
  }

  .shop h3,
  .cafe-shop h3,
  .alcohol-shop h3 {
    font-size: 24px;
  }

  .shop li,
  .cafe-shop li,
  .alcohol-shop li {
    font-size: 18px;
  }

  .intro-food {
    width: 90%;
    margin: auto;
  }

  .intro-food-review h2 {
    font-size: 50px;
  }

  .review h3 {
    font-size: 40px;
  }

  .star-rating {
    font-size: 40px;
  }

  .review p {
    font-size: 25px;
  }
  .swiper-container {
    height: 550px;
  }
  .more-restaurant img,
  .more-cafe img,
  .more-alcohol img {
    height: 128px; /* 조정된 높이 */
  }
  .more-btn {
    margin: 20px auto 40px auto;
    font-size: 25px;
  }
}

/* 576px 이하 */
@media (max-width: 576px) {
  .main-img h2 {
    font-size: 60px;
  }

  .btn .inner > button {
    font-size: 30px;
    padding: 5px 30px;
  }

  .shop img,
  .cafe-shop img,
  .alcohol-shop img {
    height: auto;
    margin-bottom: 10px;
  }

  .shop h3,
  .cafe-shop h3,
  .alcohol-shop h3 {
    font-size: 20px;
  }

  .shop li,
  .cafe-shop li,
  .alcohol-shop li {
    font-size: 16px;
  }

  .intro-food-review h2 {
    font-size: 40px;
    margin-top: 80px;
  }

  .review h3 {
    font-size: 35px;
  }

  .star-rating {
    font-size: 35px;
  }

  .review p {
    font-size: 20px;
  }
  .swiper-container {
    height: 520px;
  }
  .more-restaurant img,
  .more-cafe img,
  .more-alcohol img {
    height: 95px; /* 조정된 높이 */
  }
  .more-btn {
    font-size: 20px;
  }
}

/* 420px 이하 */
@media (max-width: 420px) {
  .main-img h2 {
    font-size: 50px;
  }
  .btn {
    margin-top: 30px;
  }
  .btn .inner > button {
    font-size: 25px;
    padding: 5px 20px;
  }
  .btn .inner {
    margin: 45px;
  }
  .intro-food-restaurant > .restaurant,
  .intro-food-cafe > .cafe,
  .intro-food-alcohol > .alcohol {
    margin: 30px 0;
  }

  .shop h3,
  .cafe-shop h3,
  .alcohol-shop h3 {
    font-size: 18px;
  }

  .shop li,
  .cafe-shop li,
  .alcohol-shop li {
    font-size: 14px;
  }

  .intro-food-review h2 {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .review h3 {
    margin: 10px;
    font-size: 30px;
  }

  .star-rating {
    font-size: 30px;
    margin: 10px;
  }

  .review p {
    font-size: 17px;
    margin: 10px;
  }
  .swiper-container {
    width: 90%;
    height: 465px;
  }
  .more-restaurant img,
  .more-cafe img,
  .more-alcohol img {
    height: 69px; /* 조정된 높이 */
  }
  .more-btn {
    padding: 10px 30px;
    font-size: 15px;
  }
}

/* 320px 이하 */
@media (max-width: 320px) {
  .main-img h2 {
    font-size: 40px;
  }
  .btn {
    margin-top: 20px;
  }
  .btn .inner {
    margin: 30px;
  }
  .btn .inner > button {
    font-size: 20px;
    padding: 5px 15px;
    margin: 10px;
  }
  .intro-food-restaurant > .restaurant,
  .intro-food-cafe > .cafe,
  .intro-food-alcohol > .alcohol {
    margin: 20px 0;
  }
  .shop h3,
  .cafe-shop h3,
  .alcohol-shop h3 {
    font-size: 16px;
  }

  .shop li,
  .cafe-shop li,
  .alcohol-shop li {
    font-size: 12px;
  }

  .intro-food-review h2 {
    font-size: 30px;
  }

  .review h3 {
    font-size: 24px;
    margin: 5px;
  }

  .star-rating {
    font-size: 24px;
    margin: 5px;
  }

  .review p {
    font-size: 15px;
    margin: 5px;
  }
  .swiper-container {
    width: 90%;
    height: 440px;
  }
  .more-restaurant img,
  .more-cafe img,
  .more-alcohol img {
    height: 52px; /* 조정된 높이 */
  }
  .more-btn {
    padding: 8px 20px;
    font-size: 12px;
  }
}
