@charset "utf-8";
.footer {
  position: relative;
  width: 100%;
  background-color: grey;
  padding: 40px 0;
}
.footer-one ul {
  display: flex;
  /* margin: 40px 0; */
  margin-bottom: 40px;
  justify-content: center;
  /* padding-top: 35px; */
  gap: 100px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(65, 64, 64);
}
.footer-one ul li {
  cursor: pointer;
}
.footer-two {
  margin-bottom: 40px;
  margin-left: 150px;
}
.footer-two ul li,
.footer-three p {
  color: rgb(65, 64, 64);
  font-size: 23px;
}

.footer-wrap {
  width: 78%;
}
.footer-logo {
  position: absolute;
  right: 10%;
  top: 30%;
  width: 200px;
  height: 150px;
  max-height: 70px;
  cursor: pointer;
}
.footer-logo img {
  width: 100%;
}
/* 반응형 */
/* 기본 스타일 */

/* 990px 이하 */
@media screen and (max-width: 990px) {
  .footer-one ul {
    /* flex-direction: column; */
    align-items: center;
    gap: 30px;
    font-size: 20px;
  }
  .footer-two {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .footer-two ul li,
  .footer-three p {
    font-size: 16px;
  }
  
  .footer-logo {
    right: 10%;
    top: 55px;
    width: 16.3vw; /* 로고 크기 조정 */
  }
}
@media screen and (max-width: 600px) {
  .footer-one ul {
    /* flex-direction: column; */
    align-items: center;
    gap: 30px;
    font-size: 20px;
  }
  .footer-two {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .footer-two ul li,
  .footer-three p {
    font-size: 16px;
  }
  
  .footer-logo {
    right: 4%;
    top: 90px;
  }
  .footer-logo img {
    width: 100%;
    height: 100%;
  }
}
/* 480px 이하 */
@media screen and (max-width: 480px) {
  .footer-one ul {
    gap: 15px;
    font-size: 18px;
  }
  .footer-two {
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .footer-two ul li,
  .footer-three p {
    font-size: 16px;
  }
  
  .footer-logo {
    width: 90px; /* 로고 크기 줄임 */
    right: 20px;
    top: 70px;
  }
}

/* 320px 이하 */
@media screen and (max-width: 320px) {
  .footer {
    padding: 30px 0;
  }
  .footer-one ul {
    gap: 10px;
    font-size: 16px;
  }
  .footer-two {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 40px;
    line-height: 20px;
  }
  .footer-two ul li:nth-child(2) {
    white-space: nowrap; /* 텍스트를 한 줄로 만듦 */
    overflow: hidden; /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis;
  }
  .footer-two ul li,
  .footer-three p {
    font-size: 12px;
  }
  
  .footer-logo img {
    width: 100%;
    height: 100%;
  }
  .footer-logo {
    position: static;
    transform: translateY(0);
    margin: 25px 30px 15px 90px;
    width: 140px; /* 로고 크기 줄임 */
    height: 100px;
  }
}
