@charset "utf-8";
.footer{
    position: relative;
    width: 100%;
    background-color: grey;
    padding: 40px 0;
    
}
.footer-one ul{
    display: flex;
    /* margin: 40px 0; */
    margin-bottom: 40px;
    justify-content: center;
    /* padding-top: 35px; */
    gap: 100px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(65, 64, 64);
}
.footer-one ul li{
  cursor: pointer;
}
.footer-two{
    margin-bottom: 40px;
    margin-left: 50px;
}
.footer-two ul li , .footer-three p{
    color: rgb(65, 64, 64);
    font-size: 23px;
}
.footer-three{
    width: 100%;
    margin-left: 50px;
    margin-bottom: 40px;
}
.footer-wrap{
    width: 70%;
    padding-bottom: 20px;
}
.footer-logo{
    position: absolute;
    right: 8%;
    top: 30%;
    width:200px;
    height: 150px;
    max-height: 70px;
    cursor: pointer;
}
.footer-logo img{
    width: 100%;
}
/* 반응형 */
/* 기본 스타일 */
.footer-logo {
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: auto;
  }
  
  /* 990px 이하 */
@media screen and (max-width: 990px) {
    .footer-one ul {
      /* flex-direction: column; */
      align-items: center;
      gap: 30px;
      font-size: 23px;
    }
    .footer-two {
      margin-left: 30px;
      margin-bottom: 20px;
    }
    .footer-two ul li, .footer-three p {
      font-size: 20px;
    }
    .footer-three {
      margin-left: 30px;
      margin-bottom: 20px;
    }
    .footer-logo {
      right: 5%;
      width: 160px; /* 로고 크기 조정 */
    }
  }
  
  /* 768px 이하 */
  @media screen and (max-width: 768px) {
    .footer-one ul {
      gap: 20px;
      font-size: 20px;
    }
    .footer-two {
      margin-left: 30px;
      margin-bottom: 15px;
    }
    .footer-two ul li, .footer-three p {
      font-size: 18px;
    }
    .footer-three {
      margin-left: 30px;
      margin-bottom: 15px;
    }
    .footer-logo {
      position: static;
      transform: translateY(0);
      margin: 40px;
      width: 130px; /* 로고 크기 줄임 */
    }
  }
  
  /* 480px 이하 */
  @media screen and (max-width: 480px) {
    .footer-one ul {
      gap: 15px;
      font-size: 18px;
    }
    .footer-two {
      margin-left: 30px;
      margin-bottom: 10px;
    }
    .footer-two ul li, .footer-three p {
      font-size: 16px;
    }
    .footer-three {
      margin-left: 30px;
      margin-bottom: 10px;
    }
    .footer-logo {
        position: static;
        transform: translateY(0);
        margin: 30px 30px 0 30px;
        width: 110px; /* 로고 크기 줄임 */
      }
  }
  
  /* 320px 이하 */
  @media screen and (max-width: 320px) {
    .footer{
        padding: 30px 0;
    }
    .footer-one ul {
      gap: 10px;
      font-size: 16px;
    }
    .footer-two {
      margin-left: 20px;
      margin-bottom: 10px;
    }
    .footer-two ul li, .footer-three p {
      font-size: 14px;
    }
    .footer-three {
      margin-left: 20px;
      margin-bottom: 10px;
    }
    .footer-logo {
        position: static;
        transform: translateY(0);
        margin: 20px 20px 0 20px;
        width: 90px; /* 로고 크기 줄임 */
      }
  }
  