@charset "utf-8";
.gallery{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.gallery h2 {
  font-size: 2.9rem;
  line-height: 100px;
  font-family: "Nanum Brush Script", cursive;
  text-align: center;
  margin-bottom: 80px;
  font-weight: bold;
}
.gallery-logo > ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin: auto;
}
.gallery-logo > ul > li {
  font-size: 40px;
  font-weight: bold;
  font-family: "Nanum Brush Script", cursive;
}
.gallery-logo > ul > li > img {
  width: 50px;
  height: 50px;
}
.img-container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  margin: auto;
}
.img-container img {
  width: 25%;
  float: left;
}
.gallery .line{
    width: 450px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 100px auto;
}
