@charset "utf-8";
.guide {
  width: 100%;
  margin-top: 200px;
  font-family: "Nanum Brush Script", cursive;
}
.guide .inner {
  background: url("../images/background.png") no-repeat center;
  width: 100%;

  background-size: cover;
  background-color: pink;
}
.guide .title {
  /* margin-top: 50px; */
  text-align: center;
  font-size: 90px;
  font-weight: 600;
}
.guide .title p {
  font-size: 50px;
  font-weight: 400;
  padding-top: 10px;
}
.guide .title h2 {
  padding-top: 300px;
}
/* 맛집영역 */
.FOOD {
  padding-top: 200px;
  /* display: flex; */
  width: 80%;
  margin: 0 auto;
}
.FOOD .text {
  padding-top: 100px;
  padding-left: 450px;
}
.FOOD .guide-img {
  float: left;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.guide-img{
  transition: all 0.3s ease;
}
.guide-img:hover {
  transform: scale(1.1);
}
.FOOD h3 {
  /* margin-top: 100px; */
  font-size: 80px;
  font-weight: 800;
}
.FOOD > .text > p {
  text-align: left;
  font-size: 50px;
  margin-top: 20px;
  line-height: 40px;
}
.FOOD .btn {
  justify-content: center;
  display: flex;
  margin-top: 100px;
  margin-left: 700px;
  background-color: black;
  border-radius: 50px;
  width: 250px;
  padding: 10px;
  cursor: pointer;
}
.FOOD .btn a img {
  width: 40px;
}
.FOOD .btn p {
  font-size: 40px;
  margin-top: 2px;
  margin-left: 10px;
  color: white;
}
/* 체험 영역 */
.EXPERIENCE {
  padding-top: 200px;
  /* display: flex; */
  width: 80%;
  margin: 0 auto;
}
.EXPERIENCE .text {
  padding-top: 100px;
  padding-left: 450px;
}
.EXPERIENCE .guide-img {
  float: left;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.EXPERIENCE h3 {
  /* margin-top: 100px; */
  font-size: 80px;
  font-weight: 800;
}
.EXPERIENCE > .text > p {
  text-align: left;
  font-size: 50px;
  margin-top: 10px;
  line-height: 40px;
}
.EXPERIENCE .btn {
  justify-content: center;
  display: flex;
  margin-top: 100px;
  margin-left: 700px;
  background-color: black;
  border-radius: 50px;
  width: 300px;
  padding: 10px;
  cursor: pointer;
}
.EXPERIENCE .btn a img {
  width: 40px;
}
.EXPERIENCE .btn p {
  font-size: 40px;
  margin-top: 2px;
  margin-left: 10px;
  color: white;
}
/* 호텔 영역 */
.HOTEL {
  padding-top: 200px;
  padding-bottom: 300px;
  /* display: flex; */
  width: 80%;
  margin: 0 auto;
}
.HOTEL .text {
  padding-top: 100px;
  padding-left: 450px;
}
.HOTEL .guide-img {
  float: left;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.HOTEL h3 {
  /* margin-top: 100px; */
  font-size: 80px;
  font-weight: 800;
}
.HOTEL > .text > p {
  text-align: left;
  font-size: 50px;
  margin-top: 10px;
  line-height: 40px;
}
.HOTEL .btn {
  justify-content: center;
  display: flex;
  margin-top: 100px;
  margin-left: 700px;
  background-color: black;
  border-radius: 50px;
  width: 300px;
  padding: 10px;
  cursor: pointer;
}
.HOTEL .btn a img {
  width: 40px;
}
.HOTEL .btn p {
  font-size: 40px;
  margin-top: 2px;
  margin-left: 10px;
  color: white;
}

/* 반응형 */
/* 990px 이하 */
@media screen and (max-width: 990px) {
  .guide .title {
    font-size: 80px;
  }
  .guide .title h2 {
    padding-top: 150px;
  }
  .guide .title p {
    font-size: 50px;
  }
  .inner > .HOTEL {
    padding: 100px 0 200px;
  }
  .FOOD,
  .EXPERIENCE,
  .HOTEL {
    padding-top: 100px;
    width: 90%;
  }
  .FOOD .text,
  .EXPERIENCE .text,
  .HOTEL .text {
    padding-top: 50px;
    padding-left: 0;
    text-align: center;
  }
  .FOOD .guide-img,
  .EXPERIENCE .guide-img,
  .HOTEL .guide-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
    float: none;
  }
  .FOOD h3,
  .EXPERIENCE h3,
  .HOTEL h3 {
    font-size: 60px;
  }
  .FOOD > .text > p,
  .EXPERIENCE > .text > p,
  .HOTEL > .text > p {
    font-size: 40px;
    line-height: 35px;
    text-align: center;
  }
  .FOOD .btn,
  .EXPERIENCE .btn,
  .HOTEL .btn {
    margin: 50px auto 0 auto;
    /* margin-left: 0; */
    width: 220px;
    padding: 10px;
  }
  .FOOD .btn p,
  .EXPERIENCE .btn p,
  .HOTEL .btn p {
    font-size: 30px;
    margin-top: 6px;
  }
}

/* 768px 이하 */
@media screen and (max-width: 768px) {
  .guide .title {
    font-size: 65px;
  }
  .guide .title h2 {
    padding-top: 100px;
  }
  .guide .title p {
    font-size: 25px;
  }
  .inner > .HOTEL {
    padding: 100px 0 150px;
  }
  .FOOD .guide-img,
  .EXPERIENCE .guide-img,
  .HOTEL .guide-img {
    width: 250px;
    height: 250px;
  }
  .FOOD h3,
  .EXPERIENCE h3,
  .HOTEL h3 {
    font-size: 50px;
  }
  .FOOD > .text > p,
  .EXPERIENCE > .text > p,
  .HOTEL > .text > p {
    font-size: 35px;
  }
  .FOOD .btn,
  .EXPERIENCE .btn,
  .HOTEL .btn {
    width: 200px;
  }
  .FOOD .btn p,
  .EXPERIENCE .btn p,
  .HOTEL .btn p {
    font-size: 25px;
    margin-top: 8px;
  }
}

/* 480px 이하 */
@media screen and (max-width: 480px) {
  .guide .title {
    font-size: 40px;
  }
  .guide .title p {
    font-size: 20px;
  }
  .FOOD,
  .EXPERIENCE,
  .HOTEL {
    padding-top: 50px;
    width: 95%;
  }
  .FOOD .guide-img,
  .EXPERIENCE .guide-img,
  .HOTEL .guide-img {
    width: 200px;
    height: 200px;
  }
  .FOOD h3,
  .EXPERIENCE h3,
  .HOTEL h3 {
    font-size: 40px;
  }
  .FOOD > .text > p,
  .EXPERIENCE > .text > p,
  .HOTEL > .text > p {
    font-size: 25px;
  }
  .FOOD .btn,
  .EXPERIENCE .btn,
  .HOTEL .btn {
    width: 220px;
  }
  .FOOD .btn p,
  .EXPERIENCE .btn p,
  .HOTEL .btn p {
    font-size: 30px;
    margin: 0 20px;
    margin-top: 5px;
  }
}

/* 320px 이하 */
@media screen and (max-width: 320px) {
  .guide .title {
    font-size: 30px;
  }
  .guide .title p {
    font-size: 15px;
  }
  .FOOD .guide-img,
  .EXPERIENCE .guide-img,
  .HOTEL .guide-img {
    width: 150px;
    height: 150px;
  }
  .inner > .FOOD {
    margin-bottom: 50px;
  }
  .FOOD h3,
  .EXPERIENCE h3,
  .HOTEL h3 {
    font-size: 30px;
  }
  .FOOD > .text > p,
  .EXPERIENCE > .text > p,
  .HOTEL > .text > p {
    margin: 0 20px;
    font-size: 20px;
  }
  .FOOD .btn,
  .EXPERIENCE .btn,
  .HOTEL .btn {
    width: 180px;
    height: 40px;
  }

  .FOOD .btn p,
  .EXPERIENCE .btn p,
  .HOTEL .btn p {
    font-size: 20px;
    margin-top: 2px;
  }
  .FOOD .btn a img,
  .EXPERIENCE .btn a img,
  .HOTEL .btn a img {
    width: 30px;
    margin-top: 0px;
  }
}
