@charset "utf-8";

/* .wrap {
  position: relative;
} */
.header {
  transition: background-color 0.5s ease;
  z-index: 9999;
  background-color: #fff;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 999;
}

/* 헤더 위에*/
.header-logo {
  width: 10%;
}
.header-logo img {
  width: 100%;
}

.header-top {
  padding: 20px 0;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;
}

.header-menu {
  text-align: center;
  width: 50%;
  height: 30px;
  position: relative;
}

.header-menu > li {
  position: relative;
}

.header-menu-title {
  width: 10%;
  position: relative;
}
.header-menu-title > h3 {
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.header-menu-title > h3:hover {
  font-size: 20px;
  transition: all 0.5s;
}
.header-menu > li {
  width: calc(100% / 4);
  float: left;
  position: relative;
}

.header-menu-submenu {
  line-height: 30px;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-left: 5%;
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.header-menu-submenu > li {
  line-height: 5;
  width: 100%;
}
.header-menu > li:hover .header-menu-submenu {
  opacity: 1;
  display: block;
  visibility: visible;
}

.header-menu-submenu > li > a:hover {
  font-weight: bold;
}
.side-navi {
  width: 15%;
  position: relative;
}
.side-navi > li {
  font-weight: bold;
  font-size: 12px;
  width: calc(100% / 3);
  float: left;
}

.side-navi > li:hover {
  text-shadow: 2px 2px 4px #7c7c7c;
}
.lang-button {
  transform: rotate(90deg);
  width: 15px;
}

.lang-submenu {
  width: 20%;
  background-color: #fff;
  position: absolute;
  display: none;
}
.lang-submenu.active {
  display: block;
}
.lang-submenu > li {
  text-align: center;
  line-height: 3;
}

.side-navi-mb {
  cursor: pointer;
  color: black;
  display: none;
  position: absolute;
  right: 5%;
}

/* 헤더 아래 */

.header-bottom {
  padding: 1% 5%;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: auto;
  display: flex;
}

.weather {
  display: flex;
}
.day {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
}
.day img {
  filter: saturate(1.6) brightness(1.5) drop-shadow(1);
  width: 40px;
  height: 40px;
}
.search,
.mb-search {
  border: 1px solid #333;
  border-radius: 20px;
  width: 20%;
  height: 40px;
  overflow: hidden;
  min-width: 220px;
}

.mb-search {
  display: none;
}
.search > input,
.mb-search > input {
  outline: none;
  background-color: transparent;
  width: 70%;
  border: #ffffff;
  line-height: 40px;
  margin-left: 10%;
}

/* 헤더 스크롤 */
.header.scrolled {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.header-top.scrolled {
  border-bottom: 1px solid #ffffffcc;
}
.header-top.scrolled a,
.header-top.scrolled h3 {
  color: #fff !important;
}
.side-navi-mb.scrolled {
  color: #fff;
}
.header-menu-submenu.scrolled {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.header.scrolled .search input {
  background-color: transparent; /* 배경색 없음 */
  color: #fff; /* 글자색 흰색 */
  border-color: #fff; /* 경계색 흰색 */
}

.lang-submenu.scrolled {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.search.scrolled {
  border: 1px solid #fff;
}
.search.scrolled input::placeholder {
  color: #fff; /* 스크롤 시 색상 */
}
/*  햄버거바 누르면 오픈 되는 영역 */
.mb-header-navi {
  padding: 20px 10px;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background: rgb(238, 238, 205);
  z-index: 99999;
  display: none;
}

.mb-header-navi.active {
  display: block; /* 활성화되면 화면에 보이기 */
  transform: translateX(0); /* 화면에 보이도록 이동 */
}

.mb-header-navi > div {
  align-items: center;
  display: flex;
  margin-bottom: 5%;
}
.closeBtn {
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: right;
  padding: 20px;
  padding-right: 20px;
}
.mb-weather {
  display: none !important;
  margin: 0 auto;
  width: 100% !important;
  padding-bottom: 20px;
}

.header-menu-title-mb {
  font-weight: bold;
  font-size: 20px;
}

.header-menu-mb {
  display: none;
}
.header-menu-mb > li {
  line-height: 3;
}
.header-menu-submenu-mb {
  max-height: 0; /* 서브메뉴 숨김 */
  overflow: hidden; /* 내용이 넘치지 않도록 설정 */
  transition: max-height 0.5s ease; /* 부드러운 애니메이션 */
}

.header-menu-submenu-mb > li :hover {
  font-weight: bold;
}
.header-menu-submenu-mb.active {
  max-height: 500px; /* 서브메뉴가 열릴 때의 최대 높이, 필요에 따라 조정 */
}

.mb-lang-wrap {
  display: none;
}
.mb-lang-wrap.active {
  display: block;
}
.mb-log {
  position: relative;
  padding-left: 5%;
  width: 100%;
  flex-direction: column;
}
.mb-log > li {
  cursor: pointer;
  font-size: 30px;
  line-height: 3;
  width: calc(100% / 3);
  font-weight: bold;
}

.mb-lang > img {
  width: 10%;
  transform: rotate(90deg);
}
.mb-lang-wrap {
  position: absolute;
}
.mb-lang-wrap > li {
  line-height: 3;
}

@media screen and (max-width: 1600px) {
  .header-logo {
    width: 13%;
  }

  .search {
    height: 30px;
  }

  .search > input {
    font-size: 15px;
    line-height: 30px;
  }

  .weather {
    width: 40%;
  }
}
@media screen and (max-width: 1400px) {
  .header-logo {
    width: 15%;
  }

  .side-navi {
    width: 22%;
  }

  .search {
    width: 20%;
  }
}
@media screen and (max-width: 1200px) {
  .header-top {
    justify-content: space-around;
  }

  .header-menu-title > h3:hover {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .header-menu-submenu {
    width: 100%;
  }
  .header-menu-submenu > li {
    font-size: 18px;
  }
  .weather {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .side-navi {
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
    display: none;
  }
  .side-navi-mb {
    display: block;
  }
  .side-navi-log {
    display: block;
  }

  .header-menu-title {
    font-size: 15px;
  }
  .header-logo {
    width: 20%;
  }

  .search {
    right: 2%;
  }

  .mb-header-navi {
    width: 70%;
  }
  .header-menu-submenu {
    width: 150%;
  }
}
@media screen and (max-width: 800px) {
  .header-menu-submenu > li {
    font-size: 15px;
  }
  .header-menu {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .day > img {
    width: 30px;
  }
  .header-logo {
    width: 15%;
  }

  .header-menu {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .mb-search {
    display: block;
  }
  .header {
    height: 60px;
    padding: 30px 0;
  }

  .header-bottom {
    border-bottom: none;
  }
  .header.scrolled {
    height: 50px;
  }
  .header-top.scrolled {
    border-bottom: none;
  }
  .weaher {
    display: none;
  }

  .header-menu {
    display: none;
  }
  .header-bottom {
    display: none !important;
  }

  .side-navi-mb > i {
    font-size: 30px;
  }

  .header-top {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header-logo {
    min-width: 120px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mb-header-navi {
    width: 100%;
  }

  .day {
    width: 100%;
  }
  .day > img {
    width: 30px;

    height: 30px;
  }
  .header-menu-mb {
    display: block;
    padding-bottom: 50px;
  }

  .mb-log {
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }
  .mb-log > li {
    font-size: 20px;
  }
  .mb-lang-wrap > li {
    line-height: 1.5;
  }
  .mb-lang-wrap {
    position: absolute; /* 필요시 수정 */
    bottom: 100%; /* 상단에 붙이기 */
    right: 19%;
    transform: translateY(-10px); /* 살짝 떨어진 위치에서 */
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
  }

  .mb-lang-wrap.active {
    transform: translateY(0); /* 활성화 시 원래 위치로 */
    opacity: 1;
    visibility: visible;
  }

  .mb-lang img {
    transform: rotate(-90deg);
  }
  .mb-weather {
    display: flex !important;
  }
}

@media screen and (max-width: 400px) {
  .day > h3 {
    font-size: 12px;
  }
  .day > p {
    font-size: 12px;
  }
  .mb-weather {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 50px;
  }
  .header-menu-submenu-mb {
    display: flex;
    gap: 20px;
  }
}
