@charset "utf-8";
.introduction .inner {
  width: 100%;
  background-color: antiquewhite;
}
.introduction .title{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}
.introduction-button{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.introduction-button img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.introduction-button .introBt-1, .introduction-button .introBt-2, .introduction-button .introBt-3{
   /* background-color: blueviolet; */
   position: relative;
}
.introduction-button .introBt-1 h3 , .introduction-button .introBt-2 h3 , .introduction-button .introBt-3 h3{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
font-size: 35px;
color: white;
font-weight: 800;
}

