@charset "utf-8";
.introduction{
    font-family: "Nanum Brush Script", cursive;
}
.introduction .inner {
  width: 100%;
  background-color:white;
}
.introduction .title{
    text-align: center;
    font-size: 90px;
    font-weight: 600;
    padding-bottom: 100px;
}
.introduction-button{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.introduction-button img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.introduction-button .introBt-1:hover{
	filter: grayscale(100%);
}
.introduction-button .introBt-2:hover{
	filter: grayscale(100%);
}
.introduction-button .introBt-3:hover{
	filter: grayscale(100%);
}
/* ====================================== */
.introduction-button .hover-txt{
    display: none;
    text-align: center;
}
/* ============================ */
.introduction-button .introBt-1:hover h3{
    display: none;
}
.introduction-button .introBt-1:hover .hover-txt{
    display: block;
}
.introduction-button .introBt-2:hover h3{
    display: none;
}
.introduction-button .introBt-2:hover .hover-txt{
    display: block;
}
.introduction-button .introBt-3:hover h3{
    display: none;
}
.introduction-button .introBt-3:hover .hover-txt{
    display: block;
}
/* ========================== */
.introduction-button .introBt-1, .introduction-button .introBt-2, .introduction-button .introBt-3{
   /* background-color: blueviolet; */
   position: relative;
}
.introduction-button .introBt-1 h3 , .introduction-button .introBt-2 h3 , .introduction-button .introBt-3 h3{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
font-size: 50px;
color: white;
font-weight: 600;
}

