@charset "utf-8";
.map {
  width: 100%;
  margin: auto;
}
.map-list {
  text-align: center;
  font-weight: bold;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.map-list li {
  display: inline-block;
  height: 50px;
  margin: 0 40px;
  font-size: 30px;
}
.map-list li:hover {
  border-bottom: 2px solid black; 
  padding-bottom: 4px; 
}

.load-map {
  width: 100%;
  height: 600px;
}
.load-map img {
  width: 100%;
}
