@charset "utf-8";
.map-list{
    text-align: center;
    font-weight: bold;
    margin-bottom: 100px;

}
.map-list li {
    display: inline-block; 
    margin: 0 40px;
    font-size: 30px;
}
.load-map{
    width: 95%;
    height: 600px;
    margin-left: 2.5%;
}
.load-map img{
    width: 100%;
}

