@charset "utf-8";
.map-nav{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.section{
  width: 90%;
  margin: auto;
  position: relative;
}

.tabitem{
  display: none; /* 기본적으로 모든 탭 내용을 숨깁니다 */
}

.tabitem.active{
  display: block; /* 선택된 탭만 표시되도록 설정합니다 */
}

.tabitem img{
  width: 100%;
}

/* 첫 번째 탭은 기본적으로 보이도록 설정 */
.tabitem:first-child {
  display: block;
}


