@charset "utf-8";
.tour-course {
  width: 80%;
  margin: auto;
}
.tour-course .inner {
  position: relative;
  display: block;
}
.tourSwiper {
  width: 100%;
  height: 100%;
  display: block;
}
.tour-title {
  width: 100%;
  line-height: 50px;
  font-family: "Nanum Brush Script", cursive;
  text-align: center;
  margin-bottom: 20px;
}
.tour-title > h2 {
  font-size: 4.8rem;
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 220px;
}
.tour-title p {
  font-size: 4.6rem;
  width: 100%;
  font-weight: bold;
  margin-bottom: 80px;
}
.tour-course .swiper-slide{
  padding: 0;
}
.good {
  width: 100%;
  height: 100%;
  text-align: center;
}
.good img {
  width: 100%;
  height: 360px !important;
  mix-blend-mode: multiply;
}
.tour-course .inner {
  display: block;
  /* background-color: blue; */
}
.tour-course .swiper-button-next {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  top: 47%;
  right: -20px;
  font-weight: bold;
  font-size: 30px;
  z-index: 99;
}
.tour-course .swiper-button-prev {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 30px;
  z-index: 99;
}
.swiper-button-next:after, .swiper-button-prev:after{
  display: none;
}

.good-info .good-info-list li {
  line-height: 23px;
  margin-top: 30px;
  text-align: center;
}
.good-info .good-info-list li:first-child {
  margin-bottom: 20px;
}
.good-info .good-info-list li:last-child {
  margin-top: 20px;
}
.tour-course .line {
  max-width: 500px;
  height: 2px;
  background-color: gray;
  text-align: center;
  margin: 100px auto;
}

/* 반응형 */
@media screen and (max-width: 990px) {
  .tour-title {
    width: 100%;
    line-height: 25px;
    font-family: "Nanum Brush Script", cursive;
    text-align: center;
    margin-bottom: 20px;
  }

  .tour-course .good-info-list li b {
    font-size: 1.8rem;
  }
  .tour-course .good-info-list li p {
    font-size: 1.2rem;
  }
  .tour-title > h2 {
    font-size: 3.2rem;
    width: 100%;
    font-weight: bold;
    margin-top: 90px;
  }
  .tour-title p {
    font-size: 3.1rem;
    width: 100%;
    font-weight: bold;
    margin-bottom: 80px;
  }
  .tour-course .good {
    width: 87%;
    height: 100%;
    text-align: center;
  }
  .tour-course .good img {
    width: 100%;
    height: 360px !important;
    mix-blend-mode: multiply;
  }
  .tour-course .inner {
    display: block;
    /* background-color: blue; */
  }

  .tour-course .swiper-button-next {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    top: 37%;
    right: -20px;
    font-weight: bold;
  }
  .tour-course .swiper-button-prev {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    top: 40%;
    left: 0;
    font-weight: bold;
  }
  .tour-course .swiper-button-prevt::after {
    font-size: 30px;
  }
  .tour-course .swiper-button-nextt::after {
    font-size: 30px;
  }
  .good-info .good-info-list li {
    line-height: 23px;
    margin-top: 30px;
  }
  .good-info .good-info-list li:first-child {
    margin-bottom: 20px;
  }
  .good-info .good-info-list li:last-child {
    margin-top: 20px;
  }
  .tour-course .line {
    max-width: 300px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 70px auto;
  }
}


@media screen and (max-width: 762px) {
  .tour-title {
    width: 100%;
    line-height: 25px;
    font-family: "Nanum Brush Script", cursive;
    text-align: center;
    margin-bottom: 20px;
  }

  .tour-course .good-info-list li b {
    font-size: 1.4rem;
  }
  .tour-course .good-info-list li p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
  }

  .tour-title > h2 {
    font-size: 2.9rem;
    width: 100%;
    font-weight: bold;
    margin-top: 90px;
  }
  .tour-title p {
    font-size: 2.7rem;
    width: 100%;
    font-weight: bold;
    margin-bottom: 80px;
  }
  .tour-course .good {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .tour-course .good img {
    width: 100%;
    height: 320px !important;
    mix-blend-mode: multiply;
  }
  .tour-course .inner {
    display: block;
    /* background-color: blue; */
  }
  .tour-course .swiper-button-next {
    position: absolute;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: inline-block;
        top: 47% !important;
        right: -13px;
        font-size: 30px;
        z-index: 99;
  }
  .tour-course .swiper-button-prev {
    position: absolute;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: inline-block;
        top: 50%;
        left: 0;
        font-size: 30px;
        z-index: 99;
  }
  .tour-course .swiper-button-prev > i {
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .tour-course .swiper-button-next > i {
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .tour-course .swiper-button-prevt::after {
    font-size: 15px;
  }
  .tour-course .swiper-button-nextt::after {
    font-size: 15px;
  }
  .tour-course .good-info .good-info-list li {
    line-height: 23px;
    margin-top: 30px;
  }
  .tour-course .good-info .good-info-list li:first-child {
    margin-bottom: 10px;
  }
  .good-info .good-info-list li {
    margin-top: 15px !important;
  }
  .tour-course .line {
    max-width: 220px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 70px auto;
  }
}
@media screen and (max-width: 412px) {
  .tour-title {
    width: 100%;
    line-height: 25px;
    font-family: "Nanum Brush Script", cursive;
    text-align: center;
    margin-bottom: 20px;
  }

  .tour-course .good-info-list li b {
    font-size: 1.2rem;
  }
  .tour-course .good-info-list li p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
  }

  .tour-title > h2 {
    font-size: 2.9rem;
    width: 100%;
    font-weight: bold;
    margin-top: 90px;
  }
  .tour-title p {
    font-size: 2.7rem;
    width: 100%;
    font-weight: bold;
    margin-bottom: 80px;
  }
  .tour-course .good {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .tour-course .good img {
    width: 100%;
    height: 250px !important;
    mix-blend-mode: multiply;
  }
  .tour-course .inner {
    display: block;
    /* background-color: blue; */
  }
  .tour-course .swiper-button-next {
    position: absolute;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: inline-block;
        top: 47% !important;
        right: -13px;
        font-size: 30px;
        z-index: 99;
  }
  .tour-course .swiper-button-prev {
    position: absolute;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: inline-block;
        top: 50%;
        left: 0;
        font-size: 30px;
        z-index: 99;
  }
  .tour-course .swiper-button-prev > i {
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .tour-course .swiper-button-next > i {
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .tour-course .swiper-button-prevt::after {
    font-size: 15px;
  }
  .tour-course .swiper-button-nextt::after {
    font-size: 15px;
  }
  .tour-course .good-info .good-info-list li {
    line-height: 23px;
    margin-top: 30px;
  }
  .tour-course .good-info .good-info-list li:first-child {
    margin-bottom: 10px;
  }
  .good-info .good-info-list li {
    margin-top: 15px !important;
  }
  .tour-course .line {
    max-width: 220px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 90px auto;
  }
}


@media screen and (max-width: 320px) {
  .tour-title {
    width: 100%;
    line-height: 25px;
    font-family: "Nanum Brush Script", cursive;
    text-align: center;
    margin-bottom: 20px;
  }

  .tour-course .good-info-list li b {
    font-size: 1.4rem;
  }
  .tour-course .good-info-list li p {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tour-course .good-info-list li p:hover {
    -webkit-line-clamp: unset; /* 라인 클램프 해제 */
    overflow: visible; /* 넘치는 텍스트 표시 */
  }
  .tour-title > h2 {
    font-size: 2.6rem;
    width: 100%;
    font-weight: bold;
    margin-top: 75px !important;
  }
  .tour-title p {
    font-size: 1.4rem;
    width: 100%;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .tour-course .good {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .tour-course .swiper-slide {
    width: 250px !important;
  }

  .tour-course .good img {
    width: 100%;
    height: 250px !important;
    mix-blend-mode: multiply;
  }
  .tour-course .inner {
    display: block;
    /* background-color: blue; */
  }
  .tour-course .swiper-button-nextt {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 50% !important;
    right: 0;
    font-weight: bold;
  }
  .tour-course .swiper-button-prev {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    top: 50% !important;
    left: 0;
    font-weight: bold;
  }
  .tour-course .swiper-button-prev > i {
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .tour-course .swiper-button-next > i {
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
 
  .tour-course .good-info .good-info-list li {
    line-height: 23px;
    margin-top: 30px;
  }
  .tour-course .good-info .good-info-list li:first-child {
    margin-bottom: 10px;
  }
  .good-info .good-info-list li {
    margin-top: 15px !important;
  }
  .tour-course .line {
    max-width: 200px;
    height: 2px;
    background-color: gray;
    text-align: center;
    margin: 50px auto;
  }
  .tour-course .plus-show {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 150px;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    margin: 80px auto;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
}
