@charset "utf-8";
.visual {
  margin-bottom: 200px;
  width: 100%;
  font-family: "Nanum Brush Script", cursive;
}
.bannerSwiper {
  width: 100%;
}
.bannerslide {
  position: relative;
}

.bannerSwiper img {
  width: 100%;
}
.banner-info {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 40%;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #fff;
}

/*  글자 슬라이드 */
.banner-txt h1 {
  font-size: 100px;
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 0.5s ease-out forwards;
}

.banner-txt p {
  font-size: 30px;
  color: #fff;
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 1s ease-out forwards;
  animation-delay: 0.5s; /* h1 애니메이션이 끝난 후 p가 나옴 */
}

/* 배너 버튼 */
.bannerbtn {
  border-radius: 50px;
  width: 50%;
  background-color: black;
  padding: 15px 40px;
}

.bannerbtn > a {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}
.btn-img {
  width: 20%;
}
.btn-img img {
  width: 100%;
}

.bannerbtn > a > p {
  font-size: 50px;
  color: #fff;
}

/* ============ */

/* 애니메이션 정의 */
@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.swiper-slide-active .banner-txt h1 {
  animation: slideUp 0.5s ease-out forwards;
}

.swiper-slide-active .banner-txt p {
  animation: slideUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

/* 애니메이션 정의 */
@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 반응형 */
@media screen and (max-width: 1200px) {
  .banner-info {
    top: 60%;
  }
  .bannerbtn {
    width: 60%;
  }
}
@media screen and (max-width: 1000px) {
  .banner-info {
    width: 70%;
  }
  .banner-info {
    gap: 30px;
  }
  .banner-info {
    top: 60%;
  }
  .banner-txt > h1 {
    font-size: 70px;
  }
  .bannerbtn {
    width: 30%;
  }

  .bannerbtn > a > p {
    font-size: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .bannerbtn {
    width: 40%;
  }
}
@media screen and (max-width: 700px) {
  .banner-txt > h1 {
    font-size: 50px;
  }
  .banner-txt p {
    font-size: 20px;
  }

  .bannerbtn {
    width: 30%;
    padding: 10px 20px;
  }
  .bannerbtn > a > p {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .banner-info {
    top: 50%;
  }

  .mb-header-navi{padding: 10px 20px;}
}
@media screen and (max-width: 550px) {
  .bannerbtn {
    width: 40%;
  }
}
@media screen and (max-width: 450px) {
  .banner-info {
    gap: 10px;
  }
  .banner-txt > h1 {
    font-size: 30px;
  }
  .bannerbtn {
    padding: 5px 10px;
  }
  .banner-txt p {
    font-size: 18px;
  }
  .bannerbtn > a > p {
    font-size: 18px;
  }
}
@media screen and (max-width: 380px) {
  .banner-info {
    gap: 10px;
    width: 100%;
  }
  .banner-txt > h1 {
    font-size: 20px;
  }
  .banner-txt p {
    font-size: 15px;
  }
  .bannerbtn {
    width: 30%;
    padding: 5px 5px;
  }
  .bannerbtn > a > p {
    font-size: 15px;
  }
}
